@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;

}

section{
    position: relative;    
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.hero > header{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.hero > header .logo{
    position: relative;
    font-size: 2em;
    color:#fff;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    transition: 0.5s;
}

.toggle{
    position:relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    transition: 0.5s;
}

.toggle .menu-open{
    display: none;
    transition: 0.5s;
}

.toggle.active .menu-open  {
    display: block;
}

.toggle.active .menu-close{
    display: none;
}

.toggle::before{
    content: 'Menu';
    color: rgba(0,0,0,0.6);
    font-size: 1.2em;
    background: #fff;
    padding: .3rem 0.7rem;
    transition: 0.5s;
}

.toggle.active::before{
    content: 'Close';
}

.hero video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero .content{
    position: relative;
    text-align: center;
    color:#fff;
    transition: 0.5s;
    transition-delay: 1s;
}

.hero.active .content {
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s;
    transform: translateX(-220px);

}

.content h2{
    position: relative;
    font-size: 10vw;
    line-height: 5rem;
    text-shadow: 0 5px 5px rgba(0,0,0, 0.2);

}

.hero .social{
    position: absolute;
    bottom: 20px;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.hero .social li{
    list-style: none;
    background: #fff;
    padding: 5px;
    transition: 0.5s;
    transition-delay: calc(0.2s * var(--i))
}

.hero.active .social li{
    opacity: 0;
    transform: translateY(100px);
    
}

.hero .social li a{
    text-decoration: none;
    color:rgba(0,0,0, 0.6);
    display: inline-block;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
}



.content h2 span{
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    line-height: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #fff;
    color: #111;
    padding: 0.2rem 1rem;
    text-shadow: 0 5px 5px rgba(0,0,0, 0.2);
    box-shadow: 0 5px 5px rgba(0,0,0, 0.2);
}


.glass{
    position: absolute;
    left:0;
    top:0;
    width: 40%;
    height: 100%;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 10px 0 15px rgba(0,0,0, 0.2);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: 0.5s;
    transition-delay: 1s;
}

.hero.active .glass{
    width: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: (10px);
    box-shadow: 10px 0 15px rgba(0,0,0, 0.5);
    transition-delay: 0s;
}

.hero .navigation {
    position:absolute;
    top:50%;
    left:50%;
    transform:  translate(-50%, -50%);
    z-index:120;
}

.hero .navigation li {
    list-style: none;
    text-align: center;
    margin: 15px 0;
    opacity: 0;
    transform: translateX(200px);
    transition: 0.5s;

    transition-delay: calc(0.2s * var(--i));

}

.hero .navigation li a {
    text-decoration: none;
    color:rgba(0,0,0, 0.6);
    font-size:1.2rem;
    letter-spacing: 300;
    font-weight: 500;
    text-transform: lowercase;
    background: #fff;
    color: #111;
    padding: 0.2rem 1rem;
    text-shadow: 0 5px 5px rgba(0,0,0, 0.2);
    box-shadow: 0 5px 5px rgba(0,0,0, 0.2);
    border-radius: 5px;
    padding: 4px 10px;
    display:inline-block;
}

.hero .navigation li:hover{
    background: #111;
    color:#fff;
    letter-spacing: 10px;

}

.hero.active .navigation li{
    opacity: 1;
    transform: translateX(0);
}

@media(max-width:991px){
    header{
        padding: 0px;
        
    }
    .social{
        bottom:20px;
        right:20px;
    }
    .glass{
        width:50%;
    }
    .content h2{
        font-size: 18vw;
    }
}
