body{
    margin: 0;
    padding: 0;
    display: grid;
    place-items:start;
    min-height: 100vh;
    background-color: #1e2938;
    color: #ffffff;
    font-family: "Euclid Circular A";
    overflow-x: hidden;
    gap: 4rem;
    padding: 5rem;

}



.headings{

    width: max-content;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);

}


.cards{
    display: flex;
    gap:3rem;
    z-index: 1;

}

.card{
    width: 250px;
    height: 320px;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    display: grid;
    place-items: center;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    overflow: hidden;
    
}

.card .content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card .content{
    transform: translateY(20rem);
    transition: 0.5s;
    
}

.card:hover .content{
    transform: translateY(0);
}

.card:hover h2{
    top:-8rem;
}

.card h2{
    position: absolute;
    top: 6rem;
    right: 1rem;
    font-size: 8rem;
    color:rgba(255, 255, 255, 0.05);
    pointer-events: none;
    transition: 0.5s;
}

.card h3{
    font-size: 1.8rem;
    color:#fff;
    margin-bottom: 0.5rem;
}

.card a {
    position: relative;
    display: inline-block;
    padding: .4rem 1.1rem;
    margin-top: 1rem;
    background: #fff;
    color:#000;
    border-radius: 1.1rem;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-size: 1.2rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    cursor: pointer;
}


.card span{
    font-size: 1rem;
    color:#fff;
    font-weight: 300;
}

.buttons{
 display: flex;
 gap: 4rem;
}

.btn-bg{
    position: relative;
}

.btn-bg::before{
    content:'';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 10px;
/*     background: #f00; */
    border-radius: 10px;
    transition: all 0.5s;
    transition-delay: 0s;
}

.btn-bg:hover::before{
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 50%;
/*     background: #f00; */
    border-radius: 30px;
    transition-delay:  0.5s;
}

/*  .primary.btn-bg::before,.btn-bg::after .primary{
    background: rgb(240, 17, 17);
} */

.btn-bg::after{
    content:'';
    position: absolute;
    left: 50%;
    top:0;
    transform: translateX(-50%);
    width: 30px;
    height: 10px;
   /*  background: #f00; */
    border-radius: 10px;
    z-index: -1;
    transition: all 0.5s;
}
.btn-bg:hover::after{
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 50%;
    /* background: #f00; */
    border-radius: 30px;
    transition-delay:  0.5s;
}

.btn-bg:nth-child(2)::before,
.btn-bg:nth-child(2)::after{
    background: #ff1f71;
    box-shadow: 0 0 5px #ff1f71,
    0 0 15px #ff1f71, 
    0 0 30px #ff1f71, 
    0 0 60px #ff1f71;
}


.btn-bg:nth-child(3)::before,
.btn-bg:nth-child(3)::after{
    background: #2bd2ff;
    box-shadow: 0 0 5px #2bd2ff,
    0 0 15px #2bd2ff, 0 0 30px #2bd2ff, 0 0 60px #2bd2ff;
}


.btn-bg:nth-child(4)::before,
.btn-bg:nth-child(4)::after{
    background: #1eff45;
    box-shadow: 0 0 5px #1eff45,
    0 0 15px #1eff45, 0 0 30px #1eff45, 0 0 60px #1eff45;
}

.btn,  .btn-cta, .btn-cta::after,
.btn-cta::before{
     color: #fff;
     padding: 0.5rem;
     font-size: 1.5rem;
     cursor: pointer;
     letter-spacing: 2px;

     background: rgba(255, 255, 255, 0.15);
     /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
     backdrop-filter: blur(4px);
     -webkit-backdrop-filter: blur(4px);
     border-radius: 10px;
     border: 1px solid rgba(255, 255, 255, 0.18);
     transition: 0.3s;


    }

    .btn::before{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
        transform: skewX(30deg) translateX(0);
        transition: all 0.5s ease-in-out;
    }

    .btn:hover::before{
        transform: skewX(90deg) translateX(75%);
        
    }

    
    .btn-cta{
        width: 10rem;
        
    }

.btn-cta::after,
.btn-cta::before{
    position: absolute;
    content: '';
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    animation: float 4s  infinite;
}

.btn-cta::after{
    left: -1.2rem;
    bottom: -1.2rem;
    width:1rem;
    height:1rem;
    animation-delay: 0.5s;
}

.btn-cta::before{
    right: -2.2rem;
    top: -2.2rem;
    width:2rem;
    height:2rem;
    animation-delay: 0.5s;
}

 .btn-cta:hover{
    transform: translateY(-1rem);
    font-size: 1.7rem;
    letter-spacing: 4px;
   
}

span{
    position: absolute;
    top: 50%;
    left:50%;
    transform:  translate(-50%, -50%);
    width:6rem;
    height:6rem;
    filter: blur(5px);
    background: #0814bd;
    border-radius: 50%;
    z-index: -1;
}



@keyframes float {
    50% {transform:  translatey(-0.5rem);}
    100% {transform: translateY(0);}
}